/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




           /*Contact FORM START*/
.okvir {
    border: solid 1px #000; width:550px; height: 480px; background-color:#0CF;-webkit-border-radius:20px 20px; -moz-border-radius:20px 20px; -ms-border-radius:20px 20px; -o-border-radius:20px 20px; border-radius:20px 20px;  position:relative; right:-30%;-moz-box-shadow:5px 7px 1px #000000; -ms-box-shadow:5px 7px 1px #000000; -o-box-shadow:5px 7px 1px #000000; -webkit-box-shadow:5px 7px 1px #000000;box-shadow:5px 7px 1px #000000;}
.okvir:hover {box-shadow:5px 5px 7px 2px #06F; }
.us {color:#000;letter-spacing:5px; font-weight:bolder; font-size:33px; position:relative; right:-35%; text-shadow:3px 4px 2px #000; }
.submit { font-size:26px; font-family:"Sunshiney"; position:relative; top:10px; right:-70%; width:120px; height:35px; border-radius:18px 8px 18px 8px; color:#00F; font-weight:bold; letter-spacing:5px; background-color:#FFF; box-shadow:7px 3px 7px 1px #000;}
.submit:hover {opacity: 0.9;}
#name{ background-color:#FFF; color:#000; text-shadow:1px 1px 3px #000; font-family:Georgia, "Times New Roman", Times, serif;}
#email{ background-color:#FFF; color:#000; text-shadow:1px 1px 3px #000; font-family:Georgia, "Times New Roman", Times, serif;}
.ime {color:#00F; text-shadow:1px 2px 3px #000;font-family:"Times New Roman", Times, serif; letter-spacing:4px;}
	/*Contact FORM END*/
	
